
@media screen and (min-width: 1281px){
    /* .intro_tada Animation */
    .intro_tada_ani{animation: goUpTada 2s ease;}
    @keyframes goUpTada{
        from{top: 10px;}
        to{top: -44px;}
    }
}

