:root{
    /* Colors */
    --p_color: #19254d;
    --s_color: #32a2fa;
    --bg_color1: #fff;
    --bg_color2: #ebf0f3;
    --font_color_b: #000;
    --font_color_w: #fff;
    --font_color_c: #4b5064;
    --font_color_n1: #9da0ae;
    --font_color_n2: #19254d;
    /* Font-Size */
    --font-h1: 44px;
    --font-h2: 36px;
    --font-t1: 28px;
    --font-t2: 24px;
    --font-c1: 16px;
    --font-c2: 14px;
}

/* Mobile */
/* Common */
.container{margin: 0 30px; height: inherit;}
body{overflow-x: hidden; min-width: 360px;}

/* Header */
header #adver{height: 54px; background: var(--bg_color2);}
header #adver .container{padding: 0;}
header #adver h3{text-align: center; height: inherit; line-height: 54px; font-size: var(--font-c2); color: var(--font_color_b); font-weight: bold;}
header #adver h3::before{content: ""; display: inline-block; width: 60px; height: 20px; position: relative; top: 5px; margin-right: 10px; background: url(../img/header_icon_event.png) no-repeat left top; background-size: 100%;}

/* Nav */
nav{height: 82px; background: var(--bg_color1); position: sticky; position: -webkit-sticky; top: 0px; z-index: 10000; transition: .3s;}
nav.hide{top: -82px;}
nav .container{display: flex; align-items: center; justify-content: space-between; height: inherit;}
nav .logo a{display: block; width: 103px; height: 30px; background: url(../img/header_logo.png) left top; background-size: 100%;}
nav .menu{display: none;}
nav .menu_icon{display: block; width: 26px; height: 29px; background: url(../img/mobile/btn_menu@4x.png) no-repeat center center/300%;}
nav .menu_mobile{display: none; position: absolute; width: 100vw; height: 100vh; z-index: 1000; background: #fff; top: 82px; left: 0px;}
nav .menu_mobile li a{display: block; padding: 30px 30px; font-size: var(--font-c1); color: var(--font_color_b); box-sizing: border-box; border-bottom: 1px solid #ccc;}
nav .menu_mobile li a:hover{background: var(--bg_color2); color: var(--font_color_c); font-weight: bold;}

/* Banner */
#banner{position: relative;}
#banner>a{display: none;}
#banner section{height: 70vh; width: 100%; color: var(--font_color_b);}
#banner section.active_banner{display: block;}
#banner section .container{padding: 34px 0; box-sizing: border-box;}
#banner section h1{font-size: var(--font-t1); line-height: 1.29;}
#banner section .h1_pc{display: none;}
#banner section span{display: block; margin-top: 10px; font-size: var(--font-c1);}
.mobile_btn_app a{display: block; width: 152px; height: 51px; font-weight: bold; text-align: center; line-height: 51px; margin-top: 31px; background: var(--p_color); color: var(--font_color_w); font-size: var(--font-c2);}
.mobile_btn_app .btn_appdown_w{background: var(--bg_color1); color: var(--font_color_n2);}
.pc_btn_app{display: none;}
.swiper-container .banner_pager{bottom: 30px;}
.swiper-container .banner_pager span{width: 61px; height: 5px; border-radius: 0; opacity: .3; background: #fff;}
.swiper-container .banner_pager .swiper-pagination-bullet-active{opacity: .8;}

#banner .banner1{background: url(../img/mobile/banner_bg1_mobile.jpg) no-repeat left top/cover; color: var(--font_color_w);}
#banner .banner2{background: url(../img/mobile/banner_bg2_mobile.jpg) no-repeat left top/cover;}
#banner .banner3{background: url(../img/mobile/banner_bg3_mobile.jpg) no-repeat left top/cover;}

/* Intro */
#intro{height: 1649px;}
.container_intro{position: relative; overflow: hidden;}
.intro_tada{height: 514px; width: 100%; background: var(--p_color); color: var(--font_color_w);}
.intro_tada .line{position: absolute; top: 0; left: 30px;}
.intro_tada .line .column{width: 2px; height: 406px; background: var(--bg_color1); position: absolute; top: 0; left: -1px;}
.intro_tada .line .row{width: 100vw; height: 2px; background: var(--bg_color1); position: absolute; top: 458px; left: 60px;}
.intro_tada .line .diagonal{width: 2px; height: 82px; background: var(--bg_color1); position: absolute; top: 391px; left: 29px; transform: rotate(-48deg);}
.intro_tada .intro_text_left{background: var(--p_color); position: absolute; left: 29px; top: 80px; padding: 10px 0 15px 1px;}
.intro_tada .intro_text_left h3{font-size: var(--font-t2); line-height: 40px;}
.intro_tada .intro_text_left p{font-size: var(--font-c1); line-height: 26px; margin-top: 25px;}
.intro_tada .intro_text_right{display: flex; width: 100%; position: absolute; top: 450px; flex-direction: row-reverse;}
.intro_tada span{display: block; background: var(--p_color); margin-right: 83px; font-size: var(--font-c1); padding: 0 20px;}
.intro_part{height: 1135px; background: var(--bg_color1); box-sizing: border-box;}
.intro_part article{width: 290px; margin: 0 auto; text-align: center; padding-top: 90px;}
.intro_part article .intro_img{display: block; width: 273px; height: 142px; margin: 0 auto;}
.intro_art1 .intro_img{background: url(../img/mobile/intro_image_1_mobile.jpg) no-repeat center center/100%;}
.intro_art2 .intro_img{background: url(../img/mobile/intro_image_2_mobile.jpg) no-repeat center center/100%;}
.intro_art3 .intro_img{background: url(../img/mobile/intro_image_3_mobile.jpg) no-repeat center center/100%;}
.intro_part article h3{font-size: var(--font-t1); margin-top: 20px;}
.intro_part article p{font-size: var(--font-c1); margin-top: 12px; line-height: 26px; color: var(--font_color_c);}
.intro_part article .intro_tab{display: none;}

/* Service */
#service{height: auto;}
#service .container{border-top: 1px solid var(--font_color_n1); position: relative;}
#service .container>a{display: block; width: 80px; height: 80px; position: absolute; top: 380px; z-index: 1;}
#service .container>a.ser_arrow_l{left: -30px; background: url(../img/arrow_black_l.png) no-repeat center/100%;}
#service .container>a.ser_arrow_r{right: -30px; background: url(../img/arrow_black_r.png) no-repeat center/100%;}
#service h2{padding-top: 120px; color: var(--font_color_b); font-size: var(--font-h2); text-align: center;}
.ser_list{width: 100vw; white-space: nowrap; position: relative; left: -30px; box-sizing: border-box; padding: 5px 0px 5px 30px; margin-top: 65px; overflow: hidden;}
.ser_list li{display: inline-block;}
.ser_list li.ser_border{width: 1px; height: 13px; margin: 0 26px; background: var(--font_color_n1);}
.ser_list li a{font-size: var(--font-c1); color: var(--font_color_n1);}
.ser_list .ser_active a{color: var(--font_color_n2); font-weight: bold;} 
.ser_cont{position: relative; width: 100%;}
.ser_cont article{display: none; text-align: center;}
.ser_cont article.ser_active{display: block;}
.ser_cont article h3{font-size: var(--font-t2); font-weight: bold;}
.ser_cont article p{font-size: var(--font-c1); color: var(--font_color_c); line-height: 24px; margin-top: 28px; padding-bottom: 124px;}
.ser_cont article .ser_img{display: block; width: 50vw; min-width: 175px; height: 30vw; min-height: 110px; margin: 61px auto; margin-bottom: 50px;}
article.ser_cont_daeri .ser_img{background: url(../img/ser_1.png) no-repeat center top/cover;}
article.ser_cont_light .ser_img{background: url(../img/ser_2.png) no-repeat center top/cover;}
article.ser_cont_plus .ser_img{background: url(../img/ser_3.png) no-repeat center top/cover;}
article.ser_cont_air .ser_img{background: url(../img/ser_4.png) no-repeat center top/cover;}
article.ser_cont_private .ser_img{background: url(../img/ser_5.png) no-repeat center top/cover;}
article.ser_cont_golf .ser_img{background: url(../img/ser_6.png) no-repeat center top/cover;}

/* App */
#app{height: 830px; background: var(--p_color);}
#app h2{font-size: var(--font-t2); line-height: 1.5; color: var(--font_color_w); font-weight: bold; text-align: center; padding-top: 80px;}
.app_image{height: auto; margin-top: 40px; position: relative;}
.app_image>a{display: block; width: 80px; height: 80px; position: absolute; top: 160px; z-index: 10;}
.app_image>a.app_arrow_l{left: -30px; background: url(../img/arrow_white_l.png) no-repeat center/100%;}
.app_image>a.app_arrow_r{right: -30px; background: url(../img/arrow_white_r.png) no-repeat center/100%;}
.app_frame{display: block; width: 280px; height: 462px; margin: 0 auto; background: url(../img/mobile/app_frame_mobile.png) no-repeat center top/100%; position: relative; z-index: 1;}
.app_image_list{width: 178px; height: 385px; position: absolute; top: 11px; left: 50%; transform: translate(-50%, 0); z-index: 1; border-radius: 18px;}
.app_image_list ul{width: 100%; height: 100%;}
.app_image_list ul li{width: 100%; height: 100%;}
.app_image_list .app_01{background: url(../img/app_1.jpg) center top/100%;} 
.app_image_list .app_02{background: url(../img/app_2.jpg) center top/100%;} 
.app_image_list .app_03{background: url(../img/app_3.jpg) center top/100%;} 
.app_image_list .app_04{background: url(../img/app_4.jpg) center top/100%;} 
.app_image_list .app_05{background: url(../img/app_5.jpg) center top/100%;} 
.app_image_list .app_06{background: url(../img/app_6.jpg) center top/100%;} 
.app_pager{bottom: -110px; left: 50%; transform: translateX(-50%);}
.app_pager span{margin: 0 5px; opacity: 1;}
.app_text{text-align: center; position: relative; top: -25px;}
.app_text_list{position: relative; height: 150px; width: 315px; margin: 0 auto;}
.app_text_list li{display: none; width: inherit; position: absolute; color: var(--font_color_w); transition: 1s;}
.app_text_list li.app_active{display: block;}
.app_text_list li h4{font-size: var(--font-t2);}
.app_text_list li p{font-size: var(--font-c2); line-height: 1.7; margin-top: 20px;}

/* Footer */
footer{background: var(--bg_color2);}
.footer1{height: 433px; box-sizing: border-box;;}
.footer1 .container{border-bottom: 1px solid var(--font_color_n1); box-sizing: border-box;}
.footer1 h4{font-size: 20px; font-weight: bold;}
.footer_driver{padding-top: 60px;}
.footer_driver a{display: block; width: 235px; height: 51px; background: var(--p_color); margin-top: 28px; line-height: 51px; text-align: center; color: var(--font_color_w); font-size: var(--font-c1); font-weight: bold;}
.footer_driver a::after{content: ""; display: inline-block; margin-left: 15px; position: relative; top: 2px; width: 19px; height: 15px; background: url(../img/footer_arrow_apply.png) no-repeat center center/100%;}
.footer_app{margin-top: 40px;}
.footer_app a{display: block; width: 150px; height: 50px; margin-top: 30px;}
.footer_app a.appStore{background: url(../img/footer_btn_app_a.png) center center/100%;}
.footer_app a.googlePlay{background: url(../img/footer_btn_app_g.png) center center/100%;}
.footer2{height: 420px;}
.footer_info{padding-top: 66px;}
.footer2 span{display: block; font-size: var(--font-c2); color: var(--font_color_c); font-weight: 300; margin-bottom: 15px;}
.info_3 a{display: inline-block; margin-right: 20px;}
.info_sns a{display: inline-block; width: 22px; height: 22px; margin-right: 15px;}
.info_sns a:last-child{margin-right: 0;}
.info_sns a.facebook{background: url(../img/footer_btn_facebook.png) no-repeat center/100%;}
.info_sns a.instagram{background: url(../img/footer_btn_instagram.png) no-repeat center/100%;}
.info_sns a.youtube{background: url(../img/footer_btn_youtube.png) no-repeat center/100%;}
.info_sns a.naver{background: url(../img/footer_btn_naver.png) no-repeat center/100%;}
.footer_app_dl a{display: block; position: fixed; z-index: 2000; bottom: 0; transition: .5s; width: 100%; height: 54px; background: var(--s_color); line-height: 54px; text-align: center; font-size: var(--font-c1); font-weight: bold; color: var(--font_color_w);}

/* Tablet */
@media screen and (min-width: 768px){
    /* Common */
    .container{width: 786px; margin: 0 auto;}
    .container_intro{overflow: initial; width: 786px; height: inherit; margin: 0 auto;}

    /* Header */
    nav{padding: 0;}
    nav .menu{display: flex; justify-content: space-between;}
    nav .menu li a{padding: 30px 22px; font-size: var(--font-c2); color: var(--font_color_b);}
    nav .menu li:last-child a{padding-right: 0;}
    nav .menu li a:hover{color: var(--s_color);}
    nav .menu_icon{display: none;}

    /* Banner */
    #banner>a{display: block; width: 50px; height: 50px; position: absolute; top: 400px;}
    #banner>a.ban_arrow_l{left: 3%; background: url(../img/arrow_white_l.png) no-repeat center/100%;}
    #banner>a.ban_arrow_r{right: 3%; background: url(../img/arrow_white_r.png) no-repeat center/100%;}
    #banner section{height: 864px; width: 100%;}
    #banner section .container{padding: 190px 0; text-align: center;}
    #banner section .h1_pc{display: block; font-size: var(--font-h1);}
    #banner section .h1_mobile{display: none;}
    #banner section span{font-size: var(--font-t2); margin-top: 22px;}
    #banner  .mobile_btn_app{display: none;}
    #banner .pc_btn_app{display: flex; justify-content: space-between; width: 390px; height: 50px; margin: 60px auto;}
    #banner .pc_btn_app a{display: block; width: 180px; height: 50px; font-weight: bold; text-align: center; line-height: 50px; background: var(--font_color_n2); color: var(--bg_color1); font-size: var(--font-c2);}
    #banner .pc_btn_app .btn_googlePlay_w{background: var(--bg_color1); color: var(--font_color_n2);}
    #banner .pc_btn_app .btn_appStore_w{background: var(--bg_color1); color: var(--font_color_n2);}
    .pc_btn_app a::before{content: ""; display: inline-block; width: 25px; height: 25px; margin-right: 15px; position: relative; top: 7px;}
    .btn_googlePlay::before{background: url(../img/banner_icon_google.png) no-repeat center center/100%;}
    .btn_googlePlay_w::before{background: url(../img/banner_icon_google.png) no-repeat center center/100%;}
    .btn_appStore::before{background: url(../img/banner_icon_apple_w.png) no-repeat center center/100%;}
    .btn_appStore_w::before{background: url(../img/banner_icon_apple_g.png) no-repeat center center/100%;}
    .swiper-container .banner_pager{bottom: 70px;}
    #banner .banner1{background: url(../img/banner_bg1_desktop.jpg) no-repeat center top/cover;}
    #banner .banner2{background: url(../img/banner_bg2_desktop.jpg) no-repeat center top/cover;}
    #banner .banner3{background: url(../img/banner_bg3_desktop.jpg) no-repeat center top/cover;}

    /* Intro */
    #intro{position: relative; height: 1117px;}
    .intro_tada{position: absolute; top: -44px; z-index: 100;}
    .intro_tada .line{left: 72px;}
    .intro_tada .line .row{width: 654px;}
    .intro_tada .intro_text_left{left: 71px;}
    .intro_part{position: absolute; top: 470px; width: 100%; height: 647px;}
    .intro_part .container{display: flex; justify-content: space-between;}
    .intro_part article{width: 218px; margin: 0; text-align: left; box-sizing: border-box; padding-top: 189px;}
    .intro_part article .intro_img{width: inherit; height: 113px;}
    .intro_part article .intro_tab{display: block; padding-left: 10px;}
    .intro_part article .intro_def{display: none;}
    .intro_part article h3{margin-top: 35px;}

    /* Service */
    #service{width: 100%; height: 810px;}
    #service .container>a{width: 120px; height: 120px; top: 400px;} 
    #service .container>a.ser_arrow_l{left: 0;}
    #service .container>a.ser_arrow_r{right: 0;}
    #service h2{padding-top: 93px; font-size: var(--font-h1);}
    .ser_list{position: initial; width: auto; margin: 0 30px; margin-top: 65px;}
    .ser_cont article .ser_img{width: 372px; height: 233px; margin-top: 90px;}

    /* App */
    #app{height: 600px;}
    #app .container{position: relative;}
    .app_image{position: absolute; top: 80px; left: 50px; margin: 0;}
    .app_image>a.app_arrow_l{left: -60px;}
    .app_image>a.app_arrow_r{right: -60px;}
    .app_pager{bottom: 0;}
    #app h2{position: absolute; top: 180px; left: 450px; padding: 0; text-align: left; font-size: var(--font-t1); font-weight: normal;}
    .app_text{position: absolute; top: 320px; left: 450px; text-align: left;}
    .app_text_list li{left: 0; transform: translate(0, 0);}
    .app_text_list li h4{font-weight: bold;}

    /* Footer */
    .footer1{height: 243px;}
    .footer1 .container{display: flex;}
    .footer_driver{margin-right: 175px;}
    .footer_app{margin: 0; padding-top: 60px;}
    .footer_app a{float: left; margin-right: 24px; margin-top: 28px;}
    .footer2{height: 240px;}
    .footer_info{padding-top: 40px;}
    .footer_info div{float: left;}
    .info_1{margin-right: 110px;}
    .info_3{margin-top: 10px;}
    .info_sns{margin-top: 5px;}
}

/* Web */
@media screen and (min-width: 1281px){
    /* Common */
    .container{width: 1194px;}
    .container_intro{width: 1196px;}

    /* Header */
    nav .menu li:last-child{margin-right: 68px;}
    nav .menu li a{padding: 30px 34px !important; font-size: var(--font-c1);}

    /* Banner */

    /* Intro */
    .intro_tada .line .row{width: 1062px;}
    .intro_part article{width: 342px;}
    .intro_part article .intro_img{height: 177px;}
    .intro_part article .intro_tab{display: none;}
    .intro_part article .intro_def{display: block; padding-left: 10px;}

    /* Service */
    #service .container>a{top: 460px;}
    #service .container>a.ser_arrow_l{left: -45px;}
    #service .container>a.ser_arrow_r{right: -45px;}
    #service h2{text-align: left; padding-top: 120px;}
    .ser_list{margin: 65px 0 0; margin-top: 59px;}
    .ser_list li a{font-size: var(--font-c1);}
    .ser_cont article .ser_img{float: left; margin-left: 180px; margin-top: 140px;}
    .ser_cont article .ser_text{float: left; margin-left: 150px; padding-top: 200px;}

    /* App */
    #app{height: 783px;}
    #app h2{top: 230px; left: 715px; font-size: var(--font-h2);}
    .app_text{top: 420px; left: 715px;}
    .app_image>a{top: 250px;}
    .app_image>a.app_arrow_l{left: -75px;}
    .app_image>a.app_arrow_r{right: -75px;}
    .app_frame{width: 400px; height: 660px; background: url(../img/app_frame_desktop.png) no-repeat center top/100%;}
    .app_image_list{width: 254px; height: 550px; top: 16px; border-radius: 30px;}
    .app_pager{top: 610px;}

    /* Footer */
    .info_2{margin-right: 110px;}
    .info_3{margin-top: 0px;}
    .footer2{height: 190px;}
    .footer_info .info_sns{float: right; margin-top: -5px;}
    .footer_app_dl{display: none;}
}









